# =========================
# Eclipse
# =========================
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project
.classpath

# Logs
*.log

# =========================
# Java / Maven / Gradle
# =========================
target/
build/
out/

# Maven
dependency-reduced-pom.xml

# Gradle
.gradle/
